html {
    margin:0;
    background: linear-gradient(180deg, rgba(156, 233, 235, 0.86) 0%, 
        rgba(255, 217, 86, 0.96) 26.56%, rgba(255, 220, 220, 0.6) 63.02%, 
        rgba(227, 252, 195, 0.76) 100%);
    mix-blend-mode: normal;
}

#main{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

h2 {
    text-align: center;
}

/* Leighai's work */
.section1{
  width:100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
}


.section1 h1{
    margin-top: 100px;
    font-size: 50px;
    }

#earth {
    min-width: 600px;
    margin: -80px;
    position: relative;
}

.comp1, .section2_comp1, .comp2, .comp2_section4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}




/*claudia's work*/
.section2{
    width:100%;
    height: 30%;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 350px;

}
.section2 h2 {
    font-size: 40px; 
}

.secondtitle{
    text-decoration: underline;
}
.comp3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.comp1_section2 {
    position:relative;
    /* top: 0;      need to re-size */
    width: 60%;
    height: 200px;
    height: 250px;
    margin: 10px 0 70px 0;
}

.common_food {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flag_container {
    position:relative;
}
.flag {
    position:absolute;
    width: 200px;
    height: 200px;
    top: -90px;
    right: -110px;
    z-index: -1;

}

.flag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 70%;
}

.comp5_section2 {
    position: relative;
}

.container1 {
    position:absolute;
    left: 170px;
}

.comp5_section2 {
    position: relative;
}
.organic_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 400px;
}

.organic {
    width: 300px;
    height: 300px;
}
.organic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*animation effects on section 2*/
.comp3_1, .comp3_2, .comp3_3, .comp3_4 {
    padding: 10px;
}

.comp3_1:hover {
    transform: scale(1.5);
}

.comp3_2:hover {
    transform: scale(1.5);
}

.comp3_3:hover {
    transform: scale(1.5);
}

.comp3_4:hover {
    transform: scale(1.5);
}

@keyframes bounce { 
    from { 
        transform: translate3d(0, 0, 0); 
    } 
    to { 
        transform: translate3d(0, 20px, 0); 
    } 
} 

@keyframes bouncing {
    from{
        transform: scale(0,0);
        /* transform: rotate(0deg); */
    }
    to {
        transform:scale(1,1);
        /* transform:rotate(360deg); */
    }
}

/*section 2 styling end*/

/* Iori's work */

.section3{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:20%;
    margin:10px;
}

.food_wastecontainer{
 display:flex ;
 flex-direction: row;
 align-items: center;
 justify-content:center;
 width:100%;
 height:40%;
 margin-top:40px;
 max-width: 80%;

}

.section3 h2{
    font-size: 40px; 
}

.food_wastecontainer img{
    width:100px;
    height:100px;
}

.carboncontainer{
    display:flex;
    flex-direction: column;
    max-width:500px;
}   

.comp6{
    display:flex;  
}

.container2{
   display: flex;
   flex-direction: row;
}

.icons{
    width: 100%;
    height: 30%;
    object-fit: fill;
}

.section4{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:20%;
    margin:100px;
}



.section4 h2{
    font-size: 40px;
    /* text-decoration: underline; */
}

.container3{
    width:100%;
    margin:100px; 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.container3 img{
    align-items:center;
    justify-content: center;
    width: 70%;
    height:70%;
    
}
.container3 h3{
    font-size:40px; 
    width:100%;
}

.comp6{
    display:flex;
    flex-direction: column;
}

.surveycontainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container4{
    display:flex;
    flex-direction: column;
    
}

.comp7{
    display:flex; 
    flex-direction:column;

}

.container5{
    display:flex;
}

.comp8{
    display:flex; 
    flex-direction:column;
}


/* Iori */

/* Maggie */
.section5{
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.so {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3em;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 150px;
}

.howcan {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
}

.container6 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 50%;
}

.comp9 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallsteps {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    font-size: 2em;
}

.container7{
    display: flex;
    position: absolute;
}

.comp10 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    animation-name: footsteps;
    top: -150px;
    left: -100px;
    z-index: -1;
}

@keyframes footsteps {
    from {opacity: 100%;}
    to {opacity: 0%;}
}

.earthonsteps {
    position: relative;
    width: 400px;
    top: -350px;
    left: -40px;
}

.comp5_arrowsteps {
    position: relative;
}

.doyourpart {
    font-size: 1.3em;
    margin-top: -50px;
}

.usingapp {
    font-size: 1.6em;
}

.brandname {
    margin-bottom:100px;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 20px;
}

.fridgephone {
    width: 450px;
    margin-bottom: -80px;
}
.fridge img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.comp5_arrowphone {
    position: relative;
}


/* Maggie */


.section6 {
    display: none;
}
.section6_content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
}

.start {
    font-size: 2.2em;
    margin-bottom: 100px;
}
.recipes {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin: 0;

}
.recipes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.ready{
    font-size: 1.5em;
    margin-bottom: 100px;
    max-width:500px;
    text-align: center;
}
