html,body{
    margin:0;
    background: linear-gradient(180deg, rgba(156, 233, 235, 0.86) 0%, rgba(255, 217, 86, 0.96) 26.56%, rgba(255, 220, 220, 0.6) 63.02%, rgba(227, 252, 195, 0.76) 100%);
    mix-blend-mode: normal;
}
#main{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section1{
  width:100%;
}


.section2{
    width:100%;
   
}

.section3{
    width:100%;
}

.section4{
    width:100%;
}


.section5{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.so {
    font-size: 2.2em;
    font-weight: bold;
}

.howcan {
    font-size: 1.3em;
}

.container6 {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.comp9 {
    display: flex;
    flex-wrap: wrap;
}

.smallsteps {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.comp10 {
    display: flex;
    position: absolute;
    top: 50rem;

}